.main {
  background-color: orange;
  padding: 50px 10px;
  margin: 20px 0px;
}
.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  margin: 10px 0px;
  text-align: center;
  background-color: white;
}
button:hover {
  background-color: lightgray;
}
